
<div class="text-center">

    <h1 class="text-info">Inquiry Confirmation</h1>

    <p>We have recived your inquary and someone trom our team will contact with you shortly!</p>

    <img src="/img/patio.jpg" width="80%" />
</div>